body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, rgba(92, 177, 247, 1) 0%, rgba(0,128,128,1) 100%);
}
